@import "tailwindcss";

@theme {
  /* bg */
  --color-surface: #ffffff;
  --color-page: #f6f7f9;

  /* text */
  --color-primary: #17191e;
  --color-secondary: #606774;
  --color-tertiary: #969da8;

  /* border */
  --color-line: #e3e6eb;

  /* action */
  --color-action: #2563eb;
  --color-hover: #1d4ed8;
  --color-pressed: #1748ad;
  --color-disabled: #d9e5ff;

  /* danger */
  --color-danger: #d92d20;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      "Apple SD Gothic Neo",
      "Segoe UI",
      Roboto,
      "Malgun Gothic",
      sans-serif;
  }
}
